.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.map-container {
  width: 100%; 
  height: 100vh; 
  max-width: 100%;
  position: relative;
}

.custom-marker-icon {
  background-image: url('marker.png');
  background-size: cover;
  width: 32px;
  height: 32px;
}

.traffic-light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 20px;
  transition: background-color 0.3s;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}


.larger-popup {
  width: 310px; 
  height: 100px; 
  overflow: auto;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px; 
  padding: 20px; 
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 300px; 
}

.menu .notification-button button,
.menu .route-button button,
.menu .profile-button button,
.menu .settings-button button {
  border: none;
  background-color: transparent; 
  font-weight: bold; 
  color: #333; 
  padding: 5px 10px;
}

.menu .notification-button button:hover,
.menu .route-button button:hover,
.menu .profile-button button:hover,
.menu .settings-button button:hover {
  text-decoration: none;
}

.logout-button button {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button button:hover {
  background-color: #d32f2f;
}

.open-menu-button {
  background-image: url('menu.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  padding: 18px 18px;
  cursor: pointer;
  position: absolute;
  top: 14%;
  left: 10px; 
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.open-menu-button:hover {
  background-color: #0056b3;
}

.menu-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-popup-content {
  width: 300px;
}

.close-popup {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.close-popup:hover {
  background-color: #0056b3;
}

.setting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}

.form-group {
  margin-bottom: 1px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button[type="submit"] {
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.route-set-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
  width: 200px;
}

.separator {
  margin: 5px;
}

.done {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.emergency-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.emergency-form-container {
  background-color: #fff; 
  padding: 20px;
  max-width: 400px; 
  width: 100%;
  text-align: center;
}

.emergency-input {
  width: 85%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.emergency-button {
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.emergency-button:hover {
  background-color: #0056b3;
}

.notification {
  background-color: #fff;
  padding: 20px;
  max-width: 400px; 
  width: 100%;
  text-align: center;
}

.notification-message{
  background-color: #fff;
  width: 100%;
  text-align: center;
}

.emergency-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emergency-popup-content {
  width: 400px;
}

.e-button{
  background-image: url('emergency.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  padding: 18px 18px;
  cursor: pointer;
  position: absolute;
  top: 21%;
  left: 10px; 
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.s-button{
  background-image: url('traffic-light.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  padding: 18px 18px;
  cursor: pointer;
  position: absolute;
  top: 28%;
  left: 10px; 
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
}

.login-container {
  max-width: 320px;
  width: 90%;
  background-color: rgba(30, 40, 51, 0.7);
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
  text-align: center;
}

.login-container .form-group {
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.login-container .btn-primary{
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
  width: 150px;
}

.login-container .btn-primary:hover,
.login-container .btn-primary:active {
  background: #214a80;
  outline: none;
}

/* register.css */
.register-container {
  max-width: 320px;
  width: 90%;
  background-color: rgba(30, 40, 51, 0.7);
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.register-container h2 {
  text-align: center;
}

.register-container form label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.register-container form input {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.register-container form .form-group {
  margin-bottom: 20px;
}

.register-container form .btn-primary {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.register-container form .btn-primary:hover,
.register-container form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.error-message {
  color: red;
  margin-top: 5px;
}

body {
  background-image: url('background.jpeg');
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 100vh; 
  margin: 0; 
}

.links-container {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
}

.custom-link {
  text-decoration: none;
  color: #333; 
  padding: 10px;
  color: #fff; 
  transition: background-color 0.3s ease;
  font-family: 'Arial', sans-serif; 
  font-size: 13spx;

  &:hover {
    background-color: #0056b3; 
  }
}

.Login-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-traffic-lights {
  max-width: 400px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.set-traffic-lights label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.set-traffic-lights input,
.set-traffic-lights select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.set-traffic-lights button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.set-traffic-lights button:hover {
  background-color: #45a049;
}


